<h1>Editing metadata type</h1>

<%= render "form", metadata_type: @metadata_type %>

<br>

<div>
  <%= link_to "Show this metadata type", @metadata_type %> |
  <%= link_to "Back to metadata types", metadata_types_path %>
</div>
